.title {

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
;
font-size: 50px;
text-align: center;

}

.body {
text-align: center;


}

#timer{
text-align: end;

}

#start{
font-style: italic;


}

.questions{
display: none;


}