:root {
    
    background-color: darkolivegreen;





}
* {
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
   



}



.title {

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
;
font-size: 50px;
text-align: center;

}

.body {
text-align: center;


}

#timer{
text-align: end;

}

#start{
font-style: italic;


}

.questions{
display: none;
text-align: center;

}

.answers{
display: flex;
flex-direction: column;
align-items: center;

}

#done{
    display: none;
    text-align: center;
}

#scoreboard{
    display: none;
    text-align: center;
}

button{
width:fit-content;
margin: 10px;

}

#feedback{
font-size: 2em;
font-weight: bold;
margin-top: 20px;

}